@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";
// @import url('https://fonts.googleapis.com/css?family=Podkova:400');
body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: PingFangSC-Regular, PingFang SC;
}

label {
    font-weight: 400;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

// main-container global css
.app-container {
    padding: 20px;
}


/*css主要部分的样式*/


/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 7px;
    /*对垂直流动条有效*/
    height: 7px;
    /*对水平流动条有效*/
}


/*定义滚动条的轨道颜色、内阴影及圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: rgb(253, 253, 253);
    border-radius: 3px;
}


/*定义滑块颜色、内阴影及圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: rgb(245, 243, 243);
}

.main {
    height: 100%;
}

.classification {
    background: white;
    height: calc(100vh - 200px);
    padding: 0px 24px 24px 24px;
    .main {
        height: 100%;
    }
    &::-webkit-scrollbar {
        width: 0px;
    }
}


/*公共样式*/

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: #595959;
}

.mb30 {
    margin-bottom: 30px;
}

.ml20 {
    margin-left: 20px;
}

.pl20 {
    padding-left: 20px;
}

.firstTopic {
    font-size: 16px;
    color: #333333;
    font-weight: 600;
}

.markedWords {
    font-size: 14px;
    color: #999999;
}


/*左边title标题*/

.left_topic {
    font-size: 16px;
    line-height: 20px;
    padding-left: 16px;
    position: relative;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 600;
    text-align: left;
    color: #0da1a8;
    &:before {
        content: "";
        display: inline-block;
        width: 3px;
        height: 20px;
        background-color: #0da1a8;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.text-left {
    text-align: left;
}

.comContent {
    background-color: #ffffff;
    height: calc(100vh - 140px);
    padding: 0px 24px 24px 24px;
    overflow-y: auto;
}

.el-page {
    position: relative;
    float: right;
    padding: 10px 0 0 0 !important;
}

.el-button--small {
    padding: 8px 15px !important;
}

.el-table--border {
    height: 100%;
    .el-table__body-wrapper {
        height: calc(100% - 48px);
        overflow: auto;
        // overflow-x: hidden;
    }
}

// 采购订单以及销售订单的样式
.classification {
    .el-tabs {
        padding-bottom: 0px;
    }
    .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0px;
        border-bottom: 1px solid #f5f5f5;
        .search_name {
            color: #262626;
            font-size: 16px;
            font-weight: 600;
            font-family: PingFangSC, PingFangSC-Medium;
        }
    }
    .collapse_list {
        position: relative;
        height: calc(100% - 130px);
        // overflow: auto;
        .top_list {
            display: flex;
            position: relative;
            width: 100%;
            font-size: 14px;
            .emphasis_btn {
                margin-right: 30px;
            }
            .items {
                display: flex;
                flex: 1;
                padding-left: 24px;
                align-items: center;
                .item {
                    height: 22px;
                    font-size: 14px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 600;
                    color: #91939a;
                    line-height: 22px;
                    margin-right: 24px;
                    span {
                        min-width: 56px;
                    }
                    .msg {
                        font-weight: 600;
                        color: rgba(0, 0, 0, 0.85);
                    }
                }
                .status {
                    display: flex;
                    align-items: center;
                    .icon_status {
                        width: 16px;
                        height: 16px;
                        margin-right: 4px;
                    }
                    .text {
                        height: 22px;
                        font-size: 14px;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 600;
                        color: #91939a;
                        line-height: 22px;
                    }
                    .text.msg {
                        color: #e7a23d;
                    }
                    .text.important {
                        color: #67c33a;
                    }
                }
                .item.nums {
                    min-width: 210px;
                }
            }
            .btns {
                display: flex;
                align-items: center;
                padding-right: 16px;
                button {
                    margin: 0 8px 0 0;
                }
                button.popover_btn {
                    margin: 0 24px 0 0;
                }
            }
        }
        .el-collapse {
            border: 0;
            height: 100%;
            overflow: auto;
             ::v-deep .el-collapse-item__header {
                height: 64px;
                background: #fafafa;
                border-radius: 4px 4px 0px 0px;
                border: 0;
                position: relative;
                line-height: 64px;
            }
            .el-collapse-item {
                margin-bottom: 24px;
            }
             ::v-deep .el-icon-arrow-right:before {
                content: "\e6df";
                color: #333;
            }
             ::v-deep .el-collapse-item__arrow.is-active {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
         ::v-deep .el-collapse-item__content {
            padding-bottom: 0px;
            color: #303133;
        }
        .bom_list {
            position: relative;
            border-top: 1px solid #e8e8e8;
            .list {
                display: flex;
                align-items: center;
                width: 100%;
                position: relative;
                padding: 12px 24px;
                .left,
                .cen,
                .right {
                    flex: 1;
                    align-items: center;
                }
                .left {
                    display: flex;
                    .img {
                        width: 80px;
                        height: 80px;
                        background: #ffffff;
                        border-radius: 4px;
                        border: 1px solid #e8e8e8;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .names {
                        margin-left: 16px;
                        height: 44px;
                        font-size: 14px;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 600;
                        color: rgba(0, 0, 0, 0.65);
                        line-height: 22px;
                    }
                }
            }
            .cen {
                text-align: center;
                height: 22px;
                font-size: 14px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 600;
                color: #91939a;
                line-height: 22px;
            }
            .right {
                display: flex;
                height: 22px;
                font-size: 14px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 600;
                color: #91939a;
                line-height: 22px;
                div {
                    flex: 1;
                    text-align: right;
                }
                div.price {
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.65);
                }
            }
        }
        .custom__table {
            position: relative;
        }
    }
    .xiaoyuandian {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 12px;
        height: 12px !important;
        background: #ff4d50;
        border: 1px solid #ffffff;
        border-radius: 10px;
    }
    .qrcodeCon {
        .qrcodeImg {
            display: flex;
            justify-content: center;
        }
    }
}

// 采购订单详情以及销售订单的详情样式
.classification {
    // background: #eee;
    overflow: auto;
    .el-collapse {
        border-top: none;
    }
    .staus_bar {
        position: relative;
        overflow: hidden;
        padding: 32px;
        .status {
            padding-left: 8px;
            text-align: center;
            margin-right: 84px;
            .icon_status {
                margin: 0 auto 6px auto;
                width: 38px;
                height: 40px;
            }
            .name {
                height: 26px;
                font-size: 16px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 600;
                color: #91939a;
                line-height: 26px;
            }
            .name.yellow {
                color: #e7a23d;
            }
            .name.green {
                color: #67c33a;
            }
        }
        .items {
            width: auto;
            margin-right: 40px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.85);
            text-align: center;
            line-height: 22px;
            .title {
                color: #91939a;
                margin-bottom: 10px;
            }
        }
        .cancel_btn {
            width: 88px !important;
        }
    }
    .staus_plan {
        position: relative;
        overflow: hidden;
        padding: 32px 32px 54px 32px;
        position: relative;
        width: 100%;
        .step {
            position: relative;
            width: auto;
            height: 32px;
            .status {
                margin-right: 8px;
                .idx {
                    width: 32px;
                    height: 32px;
                    border-radius: 100%;
                    border: 1px solid #e5e7ee;
                    font-size: 14px;
                    text-align: center;
                    color: #91939a;
                    line-height: 32px;
                }
            }
            .icon_svg {
                width: 32px;
                height: 32px;
            }
            .name {
                color: #91939a;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
            }
            .time {
                position: absolute;
                left: 40px;
                width: 150px;
                height: 22px;
                font-size: 14px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #91939a;
                line-height: 22px;
            }
        }
        .line {
            margin: 0 16px;
            width: 98px;
            height: 3px;
            background: #e5e7ee;
            border-radius: 1px;
        }
        .step.active {
            .status .idx {
                border: 1px solid #0da1a8;
                color: #fff;
                background: #0da1a8;
            }
            .name {
                color: #0da1a8;
            }
            .name.sueccss {
                font-weight: bold;
                color: rgba(0, 0, 0, 0.85);
            }
        }
        .line.active {
            background: #0da1a8;
        }
    }
    .commodity {
        margin-top: 24px;
        padding: 32px;
    }
    .info {
        margin-top: 24px;
        padding: 32px;
    }
    .info_list {
        flex: 1;
        border-right: 1px solid #e9e9e9;
        min-height: 120px;
        .title {
            height: 22px;
            font-size: 14px;
            font-family: PingFang-SC-Bold, PingFang-SC;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.85);
            line-height: 22px;
        }
        .lists {
            margin-top: 10px;
            display: grid;
            height: 78px;
            // padding: 14px 0;
            .item {
                font-size: 14px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.65);
                line-height: 26px;
                height: 26px;
                color: #595959;
                span {
                    color: #595959;
                }
            }
        }
    }
    .info_list:not(:first-child) {
        padding-left: 32px;
    }
    .info_list:last-child {
        border: 0;
    }
    .price_detail {
        margin-top: 32px;
        .items {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 10px;
        }
        .left {
            width: 60px;
            text-align: right;
            font-size: 12px;
            color: #666;
        }
        .right {
            text-align: right;
            width: 120px;
            margin-left: 32px;
            height: 20px;
            font-size: 14px;
            font-family: PingFang-SC-Bold, PingFang-SC;
            font-weight: bold;
            color: #91939a;
        }
        .right.all {
            font-size: 24px;
            font-family: PingFang-SC-Bold, PingFang-SC;
            font-weight: bold;
            color: #e1191a;
            line-height: 38px;
            height: 38px;
        }
    }
    .list_input {
        margin-top: 16px;
        position: relative;
        width: 100%;
        .formInput {
            display: block;
            margin-bottom: 10px;
             ::v-deep .el-input__inner {
                border: 0;
                width: 224px;
                height: 32px;
                background: #ffffff;
                border-radius: 4px;
                border: 1px solid #d9d9d9;
                font-size: 14px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(0, 0, 0, 1);
                line-height: 32px;
            }
        }
        .formInput:last-child {
            margin-bottom: 0px;
        }
        .formbutton {
            margin-left: 20px;
            width: 80px;
            height: 74px;
            background: #0da1a8;
            border-radius: 4px;
            font-size: 16px;
            font-family: PingFang-SC-Bold, PingFang-SC;
            font-weight: bold;
            color: #ffffff !important;
        }
    }
    .qrcodeCon {
        .qrcodeImg {
            display: flex;
            justify-content: center;
        }
    }
}

//公共的form表单内容设置
.el-form--label-top .el-form-item__label {
    font-size: #{$formLabelSize};
    color: #{$formLabelColor} !important;
    line-height: #{$formLabelLineheight};
    padding-bottom: #{$formLabelpaddingBottom} !important;
}

.el-form-item {
    margin-bottom: #{$formItemmarginBottom} !important;
}

// 针对tabs的切换进行样式设置
.el-tabs__header>.el-tabs__nav-wrap:after {
    display: none;
}

.el-tabs__header {
    padding: 0px 15px 0px;
}

.el-input .el-input-group__append {
    color: #fff;
    background-color: #f5222d !important;
    border: 1px solid #f5222d;
}

.searchAll {
    width: 600px !important;
    height: 48px;
    border: 1px solid #f5222d;
    border-radius: 6px;
    .el-input__inner {
        height: 48px !important;
        border: 1px solid #f5222d !important;
    }
}

.down .el-button {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.shopBadge .el-badge__content {
    line-height: 10px;
}


/*end*/