// sidebar
$menuText: rgba(0, 0, 0, 0.85);
$menuActiveText: #0da1a8;
$subMenuActiveText: #0da1a8; //https://github.com/ElemeFE/element/issues/12951
$headerBg: #0da1a8;
$headerHeight: 48px;
$menuBg: #fff;
$menuHover: #d1f2f6;
$subMenuBg: #fff;
$subMenuHover: #d1f2f6;
$sideBarWidth: 208px;
$butColor: #409eff;
//内容部分的高度设定
$contentHeight: calc(100vh - 128px);
//选择框的内容-----------------------------------------------
//边框的默认颜色
$borderColor: #d9d9d9;
// 边框选中的颜色
$borderColorActive: #0da1a8;
// 默认选择框内的文字颜色
$fontColor: #595959;
// 选中时文字的颜色
$fontColorActive: #0da1a8;
// 选项文字大小
$fontSize: 16px;
// 表单的样式设置-------------------------------------------
//表单的label颜色
$formLabelColor: #262626;
//表单的label大小
$formLabelSize: 14px;
//表单的label行高
$formLabelLineheight: 22px;
// 表格的label下面的边距
$formLabelpaddingBottom: 0px;
// 表格的item向下的间距
$formItemmarginBottom: 12px;
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
    headerBg: $headerBg;
    menuText: $menuText;
    menuActiveText: $menuActiveText;
    subMenuActiveText: $subMenuActiveText;
    menuBg: $menuBg;
    menuHover: $menuHover;
    subMenuBg: $subMenuBg;
    subMenuHover: $subMenuHover;
    sideBarWidth: $sideBarWidth;
    butColor: $butColor;
    contentHeight: $contentHeight;
    headerHeight: $headerHeight;
    borderColor: $borderColor;
    borderColorActive: $borderColorActive;
    fontColor: $fontColor;
    fontColorActive: $fontColorActive;
    fontSize: $fontSize;
    formLabelColor: $formLabelColor;
    formLabelSize: $formLabelSize;
    formLabelLineheight: $formLabelLineheight;
    formLabelpaddingBottom: $formLabelpaddingBottom;
    formItemmarginBottom: $formItemmarginBottom;
}